In [30]:
import pandas as pd
import os
import sys
#import helper
#import dataset_path
#from helpers import *
from sklearn.impute import SimpleImputer
#from dataset_path import output_path,mimic_iv_path
#path = output_path
path = '../mimic-iv-ed/mimic-iv-ed-2.0/2.0/ed/triage.csv.gz'
df_master = pd.read_csv(os.path.join(path))
pd.set_option('display.max_columns', 200)
df_master.head()

,subject_id,stay_id,temperature,heartrate,resprate,o2sat,sbp,dbp,pain,acuity,chiefcomplaint
0,10000032,32952584,97.8,87.0,14.0,97.0,71.0,43.0,7,2.0,Hypotension
1,10000032,33258284,98.4,70.0,16.0,97.0,106.0,63.0,0,3.0,"Abd pain, Abdominal distention"
2,10000032,35968195,99.4,105.0,18.0,96.0,106.0,57.0,10,3.0,"n/v/d, Abd pain"
3,10000032,38112554,98.9,88.0,18.0,97.0,116.0,88.0,10,3.0,Abdominal distention
4,10000032,39399961,98.7,77.0,16.0,98.0,96.0,50.0,13,2.0,"Abdominal distention, Abd pain, LETHAGIC"